function Main.main 5
call print.starting_screen 0
pop temp 0
label WHILE_EXP0
call Keyboard.keyPressed 0
push constant 0
eq
not
if-goto WHILE_END0
goto WHILE_EXP0
label WHILE_END0
call Screen.clearScreen 0
pop temp 0
label WHILE_EXP1
call Keyboard.keyPressed 0
push constant 0
eq
not
not
if-goto WHILE_END1
goto WHILE_EXP1
label WHILE_END1
call sah.starting_pos 0
pop local 0
call print.w_move 0
pop temp 0
push constant 4
call Array.new 1
pop local 3
push constant 0
pop local 1
push constant 0
pop local 2
label WHILE_EXP2
push local 0
call sah.checkmate 1
not
not
if-goto WHILE_END2
label WHILE_EXP3
call Keyboard.keyPressed 0
push constant 0
eq
not
if-goto WHILE_END3
goto WHILE_EXP3
label WHILE_END3
push constant 0
call Screen.setColor 1
pop temp 0
push constant 320
push constant 220
push constant 350
push constant 232
call Screen.drawRectangle 4
pop temp 0
label WHILE_EXP4
push local 1
push constant 4
lt
not
if-goto WHILE_END4
call Keyboard.keyPressed 0
pop local 2
push local 2
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 0
eq
push local 1
push constant 2
eq
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push local 3
add
push local 2
push constant 64
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto IF_END1
label IF_FALSE1
push local 1
push local 3
add
push constant 9
push local 2
push constant 48
sub
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END1
push constant 20
push constant 40
push local 1
add
call Output.moveCursor 2
pop temp 0
push local 2
call Output.printChar 1
pop temp 0
push local 1
push constant 1
add
pop local 1
label WHILE_EXP5
call Keyboard.keyPressed 0
push constant 0
eq
not
not
if-goto WHILE_END5
goto WHILE_EXP5
label WHILE_END5
label IF_FALSE0
goto WHILE_EXP4
label WHILE_END4
call print.del_print 0
pop temp 0
push local 0
push constant 0
push local 3
add
pop pointer 1
push that 0
push constant 1
push local 3
add
pop pointer 1
push that 0
push constant 2
push local 3
add
pop pointer 1
push that 0
push constant 3
push local 3
add
pop pointer 1
push that 0
call sah.move_is_legal 5
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
call sah.pl 1
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
call print.w_move 0
pop temp 0
goto IF_END3
label IF_FALSE3
call print.b_move 0
pop temp 0
label IF_END3
push local 0
push constant 0
push local 3
add
pop pointer 1
push that 0
push constant 1
push local 3
add
pop pointer 1
push that 0
push constant 2
push local 3
add
pop pointer 1
push that 0
push constant 3
push local 3
add
pop pointer 1
push that 0
call sah.move 5
pop temp 0
push local 0
call sah.pawn_in_last_row 1
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 0
push constant 2
push local 3
add
pop pointer 1
push that 0
push constant 3
push local 3
add
pop pointer 1
push that 0
push local 0
call sah.pl 1
call sah.pawn_to_queen 4
pop temp 0
label IF_FALSE4
label IF_FALSE2
push constant 0
push local 3
add
pop pointer 1
push that 0
push constant 18
eq
push constant 1
push local 3
add
pop pointer 1
push that 0
push constant 7
eq
and
push constant 2
push local 3
add
pop pointer 1
push that 0
push constant 4
eq
and
push constant 3
push local 3
add
pop pointer 1
push that 0
push constant 7
eq
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 0
call sah.last_move_arr 1
pop local 4
push local 0
push constant 0
push local 4
add
pop pointer 1
push that 0
push constant 1
push local 4
add
pop pointer 1
push that 0
push constant 2
push local 4
add
pop pointer 1
push that 0
push constant 3
push local 4
add
pop pointer 1
push that 0
call sah.move 5
pop temp 0
push local 0
call sah.pl 1
push constant 1
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
call print.w_move 0
pop temp 0
goto IF_END6
label IF_FALSE6
call print.b_move 0
pop temp 0
label IF_END6
call print.del_print 0
pop temp 0
call print.returned_move 0
pop temp 0
label IF_FALSE5
push constant 0
pop local 1
goto WHILE_EXP2
label WHILE_END2
call print.ending_screen 0
pop temp 0
push constant 0
return
