function pieces.wRookDraw 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 21
add
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 21
add
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
push argument 0
push constant 32
call Math.multiply 2
push constant 23
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 23
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
push argument 0
push constant 32
call Math.multiply 2
push constant 23
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push argument 0
push constant 32
call Math.multiply 2
push constant 14
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 14
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push argument 0
push constant 32
call Math.multiply 2
push constant 14
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 14
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
push argument 0
push constant 32
call Math.multiply 2
push constant 17
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 17
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
push argument 0
push constant 32
call Math.multiply 2
push constant 17
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 17
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
push argument 0
push constant 32
call Math.multiply 2
push constant 23
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function pieces.wKnightDraw 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 13
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 13
add
push argument 0
push constant 32
call Math.multiply 2
push constant 10
add
push argument 1
push constant 32
call Math.multiply 2
push constant 16
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 10
add
push argument 1
push constant 32
call Math.multiply 2
push constant 16
add
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 14
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 14
add
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
push argument 0
push constant 32
call Math.multiply 2
push constant 17
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function pieces.wKingDraw 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 12
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 15
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 15
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 15
add
push argument 0
push constant 32
call Math.multiply 2
push constant 14
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 15
add
push argument 0
push constant 32
call Math.multiply 2
push constant 18
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push constant 2
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push constant 1
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 13
add
push argument 1
push constant 32
call Math.multiply 2
push constant 15
add
push argument 0
push constant 32
call Math.multiply 2
push constant 19
add
push argument 1
push constant 32
call Math.multiply 2
push constant 15
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 20
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function pieces.wBishopDraw 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 10
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 13
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 22
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 19
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
push argument 0
push constant 32
call Math.multiply 2
push constant 21
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
push argument 0
push constant 32
call Math.multiply 2
push constant 12
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 12
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 4
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 4
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push argument 0
push constant 32
call Math.multiply 2
push constant 17
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function pieces.wPawnDraw 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 10
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 13
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 22
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 19
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
push argument 0
push constant 32
call Math.multiply 2
push constant 21
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push constant 4
call Screen.drawCircle 3
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push constant 3
call Screen.drawCircle 3
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
return
function pieces.wQueenDraw 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 6
add
push argument 1
push constant 32
call Math.multiply 2
push constant 11
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 6
add
push argument 1
push constant 32
call Math.multiply 2
push constant 11
add
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 10
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 10
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push argument 0
push constant 32
call Math.multiply 2
push constant 14
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 14
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
push argument 0
push constant 32
call Math.multiply 2
push constant 18
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 18
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 22
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 22
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push argument 0
push constant 32
call Math.multiply 2
push constant 21
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 21
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 26
add
push argument 1
push constant 32
call Math.multiply 2
push constant 11
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 26
add
push argument 1
push constant 32
call Math.multiply 2
push constant 11
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function pieces.bRookDraw 1
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
call Screen.drawRectangle 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 21
add
call Screen.drawRectangle 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
push argument 0
push constant 32
call Math.multiply 2
push constant 23
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 23
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
push argument 0
push constant 32
call Math.multiply 2
push constant 23
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push argument 0
push constant 32
call Math.multiply 2
push constant 14
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 14
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push argument 0
push constant 32
call Math.multiply 2
push constant 14
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 14
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
push argument 0
push constant 32
call Math.multiply 2
push constant 17
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 17
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
push argument 0
push constant 32
call Math.multiply 2
push constant 17
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 17
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
push argument 0
push constant 32
call Math.multiply 2
push constant 23
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push argument 0
push constant 32
call Math.multiply 2
push constant 23
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
call Screen.drawRectangle 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 7
add
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 7
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 14
add
push argument 1
push constant 32
call Math.multiply 2
push constant 7
add
push argument 0
push constant 32
call Math.multiply 2
push constant 17
add
push argument 1
push constant 32
call Math.multiply 2
push constant 7
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 7
add
push argument 0
push constant 32
call Math.multiply 2
push constant 23
add
push argument 1
push constant 32
call Math.multiply 2
push constant 7
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function pieces.bKnightDraw 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
call Screen.drawRectangle 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 13
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 13
add
push argument 0
push constant 32
call Math.multiply 2
push constant 10
add
push argument 1
push constant 32
call Math.multiply 2
push constant 16
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 10
add
push argument 1
push constant 32
call Math.multiply 2
push constant 16
add
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 14
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 14
add
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
call Screen.drawRectangle 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 10
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 10
add
push argument 1
push constant 32
call Math.multiply 2
push constant 21
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 20
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 12
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 12
add
push argument 1
push constant 32
call Math.multiply 2
push constant 19
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 13
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 13
add
push argument 1
push constant 32
call Math.multiply 2
push constant 18
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 14
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 14
add
push argument 1
push constant 32
call Math.multiply 2
push constant 17
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 15
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 15
add
push argument 1
push constant 32
call Math.multiply 2
push constant 16
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 10
add
push argument 1
push constant 32
call Math.multiply 2
push constant 16
add
push argument 0
push constant 32
call Math.multiply 2
push constant 10
add
push argument 1
push constant 32
call Math.multiply 2
push constant 11
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 15
add
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 12
add
push argument 1
push constant 32
call Math.multiply 2
push constant 14
add
push argument 0
push constant 32
call Math.multiply 2
push constant 12
add
push argument 1
push constant 32
call Math.multiply 2
push constant 9
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 13
add
push argument 1
push constant 32
call Math.multiply 2
push constant 14
add
push argument 0
push constant 32
call Math.multiply 2
push constant 13
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 14
add
push argument 1
push constant 32
call Math.multiply 2
push constant 14
add
push argument 0
push constant 32
call Math.multiply 2
push constant 14
add
push argument 1
push constant 32
call Math.multiply 2
push constant 7
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 15
add
push argument 1
push constant 32
call Math.multiply 2
push constant 14
add
push argument 0
push constant 32
call Math.multiply 2
push constant 15
add
push argument 1
push constant 32
call Math.multiply 2
push constant 7
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 9
add
push argument 1
push constant 32
call Math.multiply 2
push constant 14
add
push argument 0
push constant 32
call Math.multiply 2
push constant 9
add
push argument 1
push constant 32
call Math.multiply 2
push constant 13
add
call Screen.drawLine 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
push argument 0
push constant 32
call Math.multiply 2
push constant 17
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
call Screen.drawLine 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
return
function pieces.bKingDraw 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
call Screen.drawRectangle 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 12
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 15
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 15
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 15
add
push argument 0
push constant 32
call Math.multiply 2
push constant 14
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 15
add
push argument 0
push constant 32
call Math.multiply 2
push constant 18
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push constant 2
call Screen.drawCircle 3
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 13
add
push argument 1
push constant 32
call Math.multiply 2
push constant 15
add
push argument 0
push constant 32
call Math.multiply 2
push constant 19
add
push argument 1
push constant 32
call Math.multiply 2
push constant 15
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 20
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function pieces.bBishopDraw 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
call Screen.drawRectangle 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 10
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 13
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 22
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 19
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
push argument 0
push constant 32
call Math.multiply 2
push constant 21
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
push argument 0
push constant 32
call Math.multiply 2
push constant 12
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 12
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 4
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 4
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push argument 0
push constant 32
call Math.multiply 2
push constant 17
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 13
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
push argument 0
push constant 32
call Math.multiply 2
push constant 19
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawRectangle 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 20
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 12
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 12
add
push argument 1
push constant 32
call Math.multiply 2
push constant 17
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 21
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 21
add
push argument 1
push constant 32
call Math.multiply 2
push constant 20
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 17
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function pieces.bPawnDraw 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
call Screen.drawRectangle 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 10
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 13
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 22
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 19
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
push argument 0
push constant 32
call Math.multiply 2
push constant 21
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push constant 4
call Screen.drawCircle 3
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 13
add
push argument 1
push constant 32
call Math.multiply 2
push constant 12
add
push argument 0
push constant 32
call Math.multiply 2
push constant 19
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawRectangle 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 20
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 12
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 12
add
push argument 1
push constant 32
call Math.multiply 2
push constant 17
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 21
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 21
add
push argument 1
push constant 32
call Math.multiply 2
push constant 20
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 17
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function pieces.bQueenDraw 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 26
add
call Screen.drawRectangle 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 6
add
push argument 1
push constant 32
call Math.multiply 2
push constant 11
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 6
add
push argument 1
push constant 32
call Math.multiply 2
push constant 11
add
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 10
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 10
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push argument 0
push constant 32
call Math.multiply 2
push constant 14
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 14
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 6
add
push argument 0
push constant 32
call Math.multiply 2
push constant 18
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 18
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 22
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 22
add
push argument 1
push constant 32
call Math.multiply 2
push constant 8
add
push argument 0
push constant 32
call Math.multiply 2
push constant 21
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 21
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 26
add
push argument 1
push constant 32
call Math.multiply 2
push constant 11
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 26
add
push argument 1
push constant 32
call Math.multiply 2
push constant 11
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 21
add
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 19
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 9
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 16
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 10
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 8
add
push argument 1
push constant 32
call Math.multiply 2
push constant 16
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 13
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 11
add
push argument 1
push constant 32
call Math.multiply 2
push constant 16
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 12
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 12
add
push argument 1
push constant 32
call Math.multiply 2
push constant 20
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 15
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 15
add
push argument 1
push constant 32
call Math.multiply 2
push constant 16
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 16
add
push argument 1
push constant 32
call Math.multiply 2
push constant 10
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 17
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 17
add
push argument 1
push constant 32
call Math.multiply 2
push constant 16
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 18
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 18
add
push argument 1
push constant 32
call Math.multiply 2
push constant 20
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 19
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 16
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 20
add
push argument 1
push constant 32
call Math.multiply 2
push constant 19
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 21
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 21
add
push argument 1
push constant 32
call Math.multiply 2
push constant 19
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 22
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 16
add
call Screen.drawLine 4
pop temp 0
push argument 0
push constant 32
call Math.multiply 2
push constant 23
add
push argument 1
push constant 32
call Math.multiply 2
push constant 22
add
push argument 0
push constant 32
call Math.multiply 2
push constant 24
add
push argument 1
push constant 32
call Math.multiply 2
push constant 16
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function pieces.delSq 1
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 30
lt
not
if-goto WHILE_END0
push constant 32
push argument 0
call Math.multiply 2
push constant 1
add
push constant 32
push argument 1
call Math.multiply 2
push constant 1
add
push local 0
add
push constant 32
push argument 0
call Math.multiply 2
push constant 30
add
push constant 32
push argument 1
call Math.multiply 2
push constant 1
add
push local 0
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
return
