function print.del_print 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 320
push constant 175
push constant 420
push constant 200
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function print.wrong_input 0
push constant 16
push constant 40
call Output.moveCursor 2
pop temp 0
push constant 75
call Output.printChar 1
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 86
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 85
call Output.printChar 1
pop temp 0
push constant 78
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 83
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 78
call Output.printChar 1
pop temp 0
push constant 17
push constant 40
call Output.moveCursor 2
pop temp 0
push constant 80
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 84
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 90
call Output.printChar 1
pop temp 0
push constant 0
return
function print.impossible_move 0
push constant 16
push constant 40
call Output.moveCursor 2
pop temp 0
push constant 78
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 77
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 71
call Output.printChar 1
pop temp 0
push constant 85
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 17
push constant 40
call Output.moveCursor 2
pop temp 0
push constant 80
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 84
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 90
call Output.printChar 1
pop temp 0
push constant 0
return
function print.pawn_wrong_move 0
push constant 16
push constant 40
call Output.moveCursor 2
pop temp 0
push constant 75
call Output.printChar 1
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 86
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 80
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 84
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 90
call Output.printChar 1
pop temp 0
push constant 17
push constant 40
call Output.moveCursor 2
pop temp 0
push constant 80
call Output.printChar 1
pop temp 0
push constant 74
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 83
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 75
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 77
call Output.printChar 1
pop temp 0
push constant 0
return
function print.rook_wrong_move 0
push constant 16
push constant 40
call Output.moveCursor 2
pop temp 0
push constant 75
call Output.printChar 1
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 86
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 80
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 84
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 90
call Output.printChar 1
pop temp 0
push constant 17
push constant 40
call Output.moveCursor 2
pop temp 0
push constant 84
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 80
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 77
call Output.printChar 1
pop temp 0
push constant 0
return
function print.knight_wrong_move 0
push constant 16
push constant 40
call Output.moveCursor 2
pop temp 0
push constant 75
call Output.printChar 1
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 86
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 80
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 84
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 90
call Output.printChar 1
pop temp 0
push constant 17
push constant 40
call Output.moveCursor 2
pop temp 0
push constant 75
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 78
call Output.printChar 1
pop temp 0
push constant 74
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 77
call Output.printChar 1
pop temp 0
push constant 0
return
function print.bishop_wrong_move 0
push constant 16
push constant 40
call Output.moveCursor 2
pop temp 0
push constant 75
call Output.printChar 1
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 86
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 80
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 84
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 90
call Output.printChar 1
pop temp 0
push constant 17
push constant 40
call Output.moveCursor 2
pop temp 0
push constant 76
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 86
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 77
call Output.printChar 1
pop temp 0
push constant 0
return
function print.king_wrong_move 0
push constant 16
push constant 40
call Output.moveCursor 2
pop temp 0
push constant 75
call Output.printChar 1
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 86
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 80
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 84
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 90
call Output.printChar 1
pop temp 0
push constant 17
push constant 40
call Output.moveCursor 2
pop temp 0
push constant 75
call Output.printChar 1
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 76
call Output.printChar 1
pop temp 0
push constant 74
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 77
call Output.printChar 1
pop temp 0
push constant 0
return
function print.queen_wrong_move 0
push constant 16
push constant 40
call Output.moveCursor 2
pop temp 0
push constant 75
call Output.printChar 1
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 86
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 80
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 84
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 90
call Output.printChar 1
pop temp 0
push constant 17
push constant 40
call Output.moveCursor 2
pop temp 0
push constant 75
call Output.printChar 1
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 76
call Output.printChar 1
pop temp 0
push constant 74
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 77
call Output.printChar 1
pop temp 0
push constant 0
return
function print.w_move 0
push constant 3
push constant 45
call Output.moveCursor 2
pop temp 0
push constant 66
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 74
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 76
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 78
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 4
push constant 45
call Output.moveCursor 2
pop temp 0
push constant 80
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 84
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 90
call Output.printChar 1
pop temp 0
push constant 85
call Output.printChar 1
pop temp 0
push constant 0
return
function print.b_move 0
push constant 3
push constant 45
call Output.moveCursor 2
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 78
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 78
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 4
push constant 45
call Output.moveCursor 2
pop temp 0
push constant 80
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 84
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 90
call Output.printChar 1
pop temp 0
push constant 85
call Output.printChar 1
pop temp 0
push constant 0
return
function print.starting_screen 0
push constant 68
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 66
call Output.printChar 1
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 68
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 83
call Output.printChar 1
pop temp 0
push constant 76
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 33
call Output.printChar 1
pop temp 0
push constant 33
call Output.printChar 1
pop temp 0
push constant 33
call Output.printChar 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 85
call Output.printChar 1
pop temp 0
push constant 80
call Output.printChar 1
pop temp 0
push constant 85
call Output.printChar 1
pop temp 0
push constant 84
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 58
call Output.printChar 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 80
call Output.printChar 1
pop temp 0
push constant 76
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 58
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 83
call Output.printChar 1
pop temp 0
push constant 84
call Output.printChar 1
pop temp 0
push constant 85
call Output.printChar 1
pop temp 0
push constant 80
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 83
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 76
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 74
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 86
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 78
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 68
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 83
call Output.printChar 1
pop temp 0
push constant 78
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 83
call Output.printChar 1
pop temp 0
push constant 85
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 90
call Output.printChar 1
pop temp 0
push constant 78
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 78
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
call Output.println 0
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 68
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 68
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 72
call Output.printChar 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 68
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 86
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 68
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 68
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 76
call Output.printChar 1
pop temp 0
push constant 74
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 80
call Output.printChar 1
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 77
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 71
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 83
call Output.printChar 1
pop temp 0
push constant 85
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 90
call Output.printChar 1
pop temp 0
push constant 78
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 78
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
call Output.println 0
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 68
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 49
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 68
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 56
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 85
call Output.printChar 1
pop temp 0
push constant 78
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 83
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 80
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 84
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 90
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 58
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 78
call Output.printChar 1
pop temp 0
push constant 80
call Output.printChar 1
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 46
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 68
call Output.printChar 1
pop temp 0
push constant 50
call Output.printChar 1
pop temp 0
push constant 68
call Output.printChar 1
pop temp 0
push constant 52
call Output.printChar 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 75
call Output.printChar 1
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 74
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 71
call Output.printChar 1
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 58
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 75
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 68
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 74
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 68
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 78
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 71
call Output.printChar 1
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 80
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 74
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 68
call Output.printChar 1
pop temp 0
push constant 69
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 75
call Output.printChar 1
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 76
call Output.printChar 1
pop temp 0
push constant 74
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 68
call Output.printChar 1
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 85
call Output.printChar 1
pop temp 0
push constant 71
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 71
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 71
call Output.printChar 1
pop temp 0
push constant 82
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 67
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 75
call Output.printChar 1
pop temp 0
push constant 76
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 75
call Output.printChar 1
pop temp 0
push constant 78
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 66
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 76
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 83
call Output.printChar 1
pop temp 0
push constant 84
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 90
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 78
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 83
call Output.printChar 1
pop temp 0
push constant 84
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 86
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 75
call Output.printChar 1
pop temp 0
push constant 46
call Output.printChar 1
pop temp 0
push constant 46
call Output.printChar 1
pop temp 0
push constant 46
call Output.printChar 1
pop temp 0
push constant 0
return
function print.ending_screen 0
push constant 16
push constant 40
call Output.moveCursor 2
pop temp 0
push constant 83
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 72
call Output.printChar 1
pop temp 0
push constant 45
call Output.printChar 1
pop temp 0
push constant 77
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 84
call Output.printChar 1
pop temp 0
push constant 33
call Output.printChar 1
pop temp 0
push constant 17
push constant 40
call Output.moveCursor 2
pop temp 0
push constant 75
call Output.printChar 1
pop temp 0
push constant 76
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 75
call Output.printChar 1
pop temp 0
push constant 78
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 66
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 76
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 83
call Output.printChar 1
pop temp 0
push constant 84
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 90
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 78
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 83
call Output.printChar 1
pop temp 0
push constant 84
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 86
call Output.printChar 1
pop temp 0
push constant 65
call Output.printChar 1
pop temp 0
push constant 75
call Output.printChar 1
pop temp 0
push constant 46
call Output.printChar 1
pop temp 0
push constant 46
call Output.printChar 1
pop temp 0
push constant 46
call Output.printChar 1
pop temp 0
label WHILE_EXP0
call Keyboard.keyPressed 0
push constant 0
eq
not
if-goto WHILE_END0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
